@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
	--first-hue: 620;
	--sat: 66%;
	--lig: 75%;
	--second-hue: 219;
	--first-color: hsl(var(--first-hue), var(--sat), var(--lig));
	--first-color-alt: hsl(var(--first-hue), var(--sat), 61%);
	--title-color: hsl(var(--second-hue), 15%, 95%);
	--text-color: hsl(var(--second-hue), 8%, 75%);
	--text-color-light: hsl(var(--second-hue), 4%, 55%);
	--body-color: hsl(var(--second-hue), 48%, 8%);
	--container-color: hsl(var(--second-hue), 32%, 12%);
	--body-font: 'Poppins', sans-serif;
	--biggest-font-size: 1.75rem;
	--h1-font-size: 1.5rem;
	--h2-font-size: 1.25rem;
	--h3-font-size: 1rem;
	--normal-font-size: 0.938rem;
	--small-font-size: 0.813rem;
	--smaller-font-size: 0.75rem;
	--tiny-font-size: 0.625rem;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	background: var(--body-color);
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

h1,
h2,
h3 {
	color: var(--title-color);
	font-weight: var(--font-semibold);
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

button {
	cursor: pointer;
	border: none;
	outline: none;
}

img {
	max-width: 100%;
	height: auto;
	object-fit: cover;
}

/* REUSABLE CSS CLASSES */
.container {
	max-width: 968px;
	margin-left: auto;
	margin-right: auto;
}

.section {
	padding: 4rem 0 1rem;
}

.section__title {
	margin-bottom: 3.5rem;
}

.grid {
	display: grid;
	gap: 1.25rem;
}

.section {
	padding: 4.5rem 0 1rem;
}

.section__title,
.section__subtitle {
	text-align: center;
}

.section__title {
	font-size: var(--h2-font-size);
	color: var(--first-color);
	margin-bottom: 2rem;
}

.section__subtitle {
	display: block;
	font-size: var(--smaller-font-size);
	color: var(--text-color-light);
}

.button {
	display: inline-block;
	background-color: var(--first-color);
	color: var(--body-color);
	padding: 0.75rem 1rem;
	border-radius: 0.5rem;
	font-weight: var(--font-medium);
	transition: 0.4s;
}

.button:hover {
	background-color: var(--first-color-alt);
	color: var(--body-color);
}

/* NAVBAR   */
.header {
	background-color: var(--container-color);
	height: 4rem;
	padding: 1rem;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
	border-bottom-left-radius: 2rem;
	border-bottom-right-radius: 2rem;
}

.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 5rem 0 5rem;
	height: 100%;
}

.nav__list {
	display: flex;
	align-items: center;
	column-gap: 2rem;
}

.nav__link,
.nav__logo {
	color: #fff;
}

/* HOME */

.home__container {
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	column-gap: 4rem;
}

.home__img {
	width: 520px;
	border-radius: 1.5rem;
	justify-self: center;
}

.home__data {
	text-align: initial;
}

.home__box {
	background-color: var(--container-color);
	border-radius: 0.75rem;
	padding: 0.75rem 0.5rem;
}

.home__description {
	margin-bottom: 2.5rem;
	color: var(--text-color);
	padding: 0 4rem 0 0;
}

.home__info {
	justify-content: initial;
}
